html
{
    position:relative;
    min-height:100%;
    font-family: "Open Sans Condensed", Arial;
}

body
{
    margin-bottom: 60px;
}

.container-fluid 
{
    font-family: "Open Sans Condensed", Arial;
}

.container
{
	width:750px;
	margin:auto;
}

.logo2
{
    background-color:white;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right:5%;
    color:grey;
	text-align: center;
}

.back-menu
{
	visibility: hidden;
	height:0px;
}

.flex-barre1
{
	width:150px;
}

.flex-barre2
{
	width:130px;
}

.flex-barre3
{
	width:160px;
}

.flex .form-control
{
	width:180px;
}

@media screen and (max-width: 768px)
{
	
	.container
	{
		width:400px;
	}
	
	.fleche-proposer
	{
		visibility: hidden;
	}
	
	nav
	{
		visibility: hidden;
	}
	
	header
	{
		background-image: none !important;
	}
	
	.barre
	{
		height:130px;
	}
	
	.logo
	{
		visibility: hidden;		
	}
	
	.back-menu
	{
		visibility: visible;
		background-color:dimgray;
		height:130px;
		width:100px;
		position:absolute;
		border-bottom-right-radius: 10px;
		text-align:center;
	}
	
	.glyphicon-menu-hamburger
	{
		font-size:30px;
		margin-top:0px;
		color:white;
	}
	
	.lien-menu
	{
		margin-top:20px;
		font-size:18px;
		color:white;
	}
	
	.logo2
	{
		border-bottom-right-radius: 0px;
		right:0;
	}
	
	.flex-barre1
	{
		margin-left:10px;
		width:60px;
	}
	
	.flex-barre2
	{
		margin-left:10px;
		width:30px;
	}

	.flex-barre3
	{
		margin-left:10px;
		width:60px;
	}
	
	.flex .form-control
	{
		margin-right:120px;
		width:145px;
	}
	
	h1
	{
		margin-top:-80px;
	}
	
}


h4
{
	text-align: center;
	margin-top:30px;
    font-weight: bold;
}

.form-horizontal
{
	border:2px solid #e0dacc;
	border-radius:20px;
	padding:10px;
	background: linear-gradient(to bottom, #ffffff 25%,#fff2e2 100%);
        
}

input[type="text"], input[type="number"], input[type="time"], input[type="date"]
{
	box-shadow: 2px 2px 1px 1px #ccc;
}

input[type="time"]
{
	width:50%;
}

textarea
{
	resize:none;
}

.listeD
{
	box-shadow: 2px 2px 1px 1px #ccc;
}

select
{
	
}

.col-sm-6
{
	padding:0;
}

/* A VOIR A QUOI CA SERT !!! */
/*[class*="col-"], footer {
  text-align: center;
}*/


header
{
    background: url("../images/header.gif");
    background-position: center;
    background-size: cover;
    min-height:150px;
}

.barre
{
    margin-top:0px;
    min-height:50px;
    margin-left:0px;
    min-width:100%;
    background-color:#c03644; /* #b42026 rouge plus foncé */
}

.barre-infos
{
	border-top:1px solid #b42026;
}

.logo
{
    background-color:#b42026;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left:5%;
}

.logo img
{
    width:90%;
    margin-top:20px;
    margin-left:5px;
}


.logo2 img
{
    position:absolute;
    top:20px;
    left:24px;
}


.prenom
{
	margin-top:75px;
}

.nom
{
    margin-top:-10px;
}


/*.logo
{
    position:absolute;
    margin-left:5%;
    min-width:10%;
    max-width:10%;
}*/

footer
{
    position:absolute;
    bottom:0;
    min-width:100%;
    height:50px;
    background-color:#c03644;
}



ul
{
    list-style-type:none;
    padding:0;
    margin:0;
    text-align:center;
    
}

li
{
    float:left;
    min-width:20%;
    padding-top:4px;
    margin-bottom: 20px;
	font-weight: bold;
}

li a
{
    color:black;
}


li.b1
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    height:30px;
    border-right: 1px solid black;
}

li.b2
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b3
{
    background-image:url("../images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

li.b4
{
    background-image:url("../images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b5
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
}

a
{
    text-decoration: none;
    color:black;
}

a:visited{
     text-decoration: none;
}

a:hover
{
    color:white;
    text-decoration:none;
}

button {
    background-color:#c03644;
    border-radius: 10px;
    width : 100px;
    color: white;  
}

.proposer
{
	background-image:url("../images/bouton.gif");
    background-position: center;
	width:50%;
	margin-left:25%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-weight:bold;
        
}

.right {
    text-align: right;
   /* border: solid 1px black;*/
    margin:0px;
    padding: 0px;
    
}

.center {
    text-align: center;
    margin:0px;
    padding: 0px;
}

.left {
    text-align: left;
    margin:0px;
    padding: 0px;
}

.cadre {
    border: solid 2px #e0dacc;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ffffff 25%,#fff2e2 100%);
    padding-bottom: 10px;
    
}

.rouge {
    color:#c03644; 
}

.arial {
    font-family: Arial;
}

.arial-bold {
    font-family: Arial;
    font-weight: bold;
}

.details {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
    background-image:url("../images/bouton2.gif");
    background-position: center;
    text-align: center;
    margin-bottom:20px;
}

.padding-right{
    padding-right: 20px;
}

.invisible
{
	visibility: hidden;
}

.form-details
{
	/*padding-left:3%;
	padding-right:3%;*/
	border-top-left-radius: 0px;
	font-size:1.2em;
	position:relative;
	margin-top:50px;
}

.form-proposer
{
	padding-left:8%;
	padding-right:8%;
}

.details-user
{
	position:absolute;
	left:-150px;
	top:-2px;
	background-color:#e0dacc;
	height:170px;
	width:150px;
	border-bottom-left-radius:20px;
	border-top-left-radius: -20px;
	text-align: center;
}


.inner
{
	border-radius:50%;
	width:50px;
	height:50px;
	background-color:#FFF;
	margin-top:-20px;
	margin-left:-20px;
}

.hr-details
{
	border-top:1px solid #b42026;
}

.details-prenom
{
	margin-top:-30px;
}

.details-nom
{
	margin-top:-10px;
}

.details-hr
{
	margin-top:-5px;
	border-top:1px solid black;
	width:80%;
}

.voiture
{
	margin-top:-15px;
}

.couleur
{
	margin-top:-10px;
}


.fleche-proposer
{
	left:25px;
}

.fleche-proposer2
{
	top:20px;
}

.margin
{
	margin-bottom:10px;
}

.message {
    width:50%;
    margin:auto;
    font-weight: bold;
    text-align: center;
    
}

.flex
{
	display:flex;
	width:400px;
}

.flex-barre
{
	border-top:1px solid black;
}


.flex label
{
	margin-top:5px;
}


.rechercher
{
	width:180px;
	border-radius:20px;
	border:0;
	height:30px;
	background-image: url(../images/bouton.gif);
	color:white;
	font-weight: bold;
}


.vos-covoitureurs
{
	position:absolute;
	background-color:#e0dacc;
	height:50px;
	width:200px;
	right:-200px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}

.covoitureurs
{
	margin-top:10px;
}

.covoitureur-a
{
	position:absolute;
	background-color:lightblue;
	height:30px;
	width:200px;
	right:-200px;
	top:75px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}

.inner-covoit
{
	border-radius:50%;
	width:50px;
	height:50px;
	background-color:#FFF;
	margin-top:-43px;
	margin-left:170px;
}

.covoitureur-b
{
	position:absolute;
	background-color:green;
	height:30px;
	width:200px;
	right:-200px;
	top:125px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}

.covoitureur-c
{
	position:absolute;
	background-color:pink;
	height:30px;
	width:200px;
	right:-200px;
	top:175px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}

.covoitureur-d
{
	position:absolute;
	background-color:orange;
	height:30px;
	width:200px;
	right:-200px;
	top:225px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}


#map
{
	width:650px;
	margin:auto;
	border:2px solid #e0dacc;
	border-radius:20px;
	padding-right:30px;
	padding-left:30px;
	margin-top:50px;
	background: linear-gradient(to bottom, #ffffff 25%,#fff2e2 100%);
}









