html
{
    position:relative;
    min-height:100%;
}

body
{
    margin-bottom: 60px;
}

#container-fluid {
    font-family: "Open Sans Condensed", Arial;
}

[class*="col-"], footer {
  text-align: center;
}

section
{
    
}

header
{
    background: url("../images/header.gif");
    background-position: center;
    background-size: cover;
    min-height:150px;
}

.barre
{
    margin-top:0px;
    min-height:50px;
    margin-left:0px;
    min-width:100%;
    background-color:#c03644; /* #b42026 rouge plus foncé */
}

.logo
{
    background-color:#b42026;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left:5%;
}

.logo img
{
    width:90%;
    margin-top:20px;
    margin-left:5px;
}

.logo2
{
    background-color:white;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right:5%;
    color:grey;
}

.logo2 img
{
    position:absolute;
    top:20px;
    left:24px;
}

.logo2 p
{
    position:absolute;
    bottom:0;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}

/*.logo
{
    position:absolute;
    margin-left:5%;
    min-width:10%;
    max-width:10%;
}*/

footer
{
    position:absolute;
    bottom:0;
    min-width:100%;
    height:50px;
    background-color:#c03644;
}



ul
{
    list-style-type:none;
    padding:0;
    margin:0;
    text-align:center;
}

li
{
    float:left;
    min-width:20%;
    padding-top:4px;
}

li a
{
    color:black;
}


li.b1
{
    background-image:url("../../public/images/bouton.gif");
    background-position: center;
    height:30px;
    border-right: 1px solid black;
}

li.b2
{
    background-image:url("../../public/images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b3
{
    background-image:url("../../public/images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

li.b4
{
    background-image:url("../../public/images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b5
{
    background-image:url("../../public/images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
}

a
{
    color:white;
}

a:hover
{
    color:white;
    text-decoration:none;
}

button {
    background-color:#c03644;
    border-radius: 10px;
    width : 100px;
    color: white;
    
}



