html
{
    position:relative;
    min-height:100%;
    font-family: "Open Sans Condensed", Arial;
}

body
{
    margin-bottom: 60px;
}

.container-fluid 
{
    font-family: "Open Sans Condensed", Arial;
}

.container
{
	width:60%;
	margin:auto;
}


h4
{
	text-align: center;
	margin-top:30px;
}

.form-horizontal
{
	border:1px solid lightgrey;
	border-radius:10px;
	padding:10px;
	overflow:auto;
}

.col-sm-6
{
	padding:0;
}

/* A VOIR A QUOI CA SERT !!! */
/*[class*="col-"], footer {
  text-align: center;
}*/


header
{
    background: url("../images/header.gif");
    background-position: center;
    background-size: cover;
    min-height:150px;
}

.barre
{
    margin-top:0px;
    min-height:50px;
    margin-left:0px;
    min-width:100%;
    background-color:#c03644; /* #b42026 rouge plus foncé */
}

.logo
{
    background-color:#b42026;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left:5%;
}

.logo img
{
    width:90%;
    margin-top:20px;
    margin-left:5px;
}

.logo2
{
    background-color:white;
    height:130px;
    width:100px;
    position:absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right:5%;
    color:grey;
	text-align: center;
}

.logo2 img
{
    position:absolute;
    top:20px;
    left:24px;
}


.prenom
{
	margin-top:75px;
}

.nom
{
    margin-top:-10px;
}


/*.logo
{
    position:absolute;
    margin-left:5%;
    min-width:10%;
    max-width:10%;
}*/

footer
{
    position:absolute;
    bottom:0;
    min-width:100%;
    height:50px;
    background-color:#c03644;
}



ul
{
    list-style-type:none;
    padding:0;
    margin:0;
    text-align:center;
}

li
{
    float:left;
    min-width:20%;
    padding-top:4px;
}

li a
{
    color:black;
}


li.b1
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    height:30px;
    border-right: 1px solid black;
}

li.b2
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b3
{
    background-image:url("../images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}

li.b4
{
    background-image:url("../images/bouton2.gif");
    background-position: center;
    min-height:30px;
    border-bottom-right-radius: 10px;
}

li.b5
{
    background-image:url("../images/bouton.gif");
    background-position: center;
    min-height:30px;
    border-bottom-left-radius: 10px;
}

a
{
    text-decoration: none;
    color:black;
}

a:visited{
     text-decoration: none;
}

a:hover
{
    color:white;
    text-decoration:none;
}

button {
    background-color:#c03644;
    border-radius: 10px;
    width : 100px;
    color: white;  
}

.proposer
{
	background-image:url("../images/bouton.gif");
    background-position: center;
	width:200px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-weight:bold;
}

.right {
    text-align: right;
   /* border: solid 1px black;*/
    margin:0px;
    padding: 0px;
    
}

.center {
    text-align: center;
    
    margin:0px;
    padding: 0px;
}

.left {
    text-align: left;
    margin:0px;
    padding: 0px;
}

.cadre {
    border: solid 2px grey;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ffffff 25%,#fff2e2 100%);
    padding-bottom: 10px;
    
}
.rouge {
    color:#c03644; 
}

.arial {
    font-family: Arial;
}

.arial-bold {
    font-family: Arial;
    font-weight: bold;
}

.details {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
    background-image:url("../images/bouton2.gif");
    background-position: center;
    text-align: center;
    margin-bottom:20px;
}

.padding-right{
    padding-right: 20px;
}

.invisible
{
	visibility: hidden;
}

.form-details
{
	padding-left:30px;
	padding-right:30px;
	border-top-left-radius: 0px;
}

.details-user
{
	margin-left:-10%;
	float:left;
	background-color:#e0dacc;
	height:150px;
	width:150px;
	border-bottom-left-radius:20px;
	border-top-left-radius: -20px;
	text-align: center;
}


.inner
{
	border-radius:50%;
	width:50px;
	height:50px;
	background-color:#FFF;
	margin-top:-20px;
	margin-left:-20px;
}

.hr-details
{
	border-top:1px solid #b42026;
}

.details-prenom
{
	margin-top:-30px;
}

.details-nom
{
	margin-top:-10px;
}

.details-hr
{
	margin-top:-5px;
	border-top:1px solid black;
	width:80%;
}

.voiture
{
	margin-top:-15px;
}

.couleur
{
	margin-top:-10px;
}


